<template>
  <q-page>
    <CalendarMonth
      event-ref="nugget"
      @click.native='nugget'
      :prevent-event-detail="true"
      :event-array="someEventObject"
    />
  </q-page>
</template>

<style>
</style>

<script>
import {
  CalendarMonth,
  CalendarAgenda,
  CalendarMultiDay
} from "quasar-calendar";

export default {
  name: "PageIndex",
  components: {
    CalendarMonth
  },
  data() {
    return {
      someEventObject: [
        {
          id: 1,
          summary: "Prueba",
          description: "xxx",
          location: "por ahi",
          start: {
            dateTime: "2019-02-25T14:00:00"
          },
          end: {
            dateTime: "2019-02-25T16:30:00"
          },
          color: "positive"
        },
        {
          id: 2,
          summary: "Prueba2",
          description: "yyyy",
          location: "por ahi mas alla",
          start: {
            dateTime: "2019-02-27"
          },
          end: {
            dateTime: "2019-02-27"
          }
        }
      ]
    };
  },
  methods: {
    nugget(e) {
      this.$root.$once("click-event-nugget", eventDetailObject => {
        
        return console.log(e)
      })
    }
  }
};
</script>
